.container {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 35px;
}

.add-btn {
  background-color: #0ea5e9;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.search-box {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.filter-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-tabs button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f0f0f0;
  cursor: pointer;
}

.filter-tabs .active {
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-header h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.status.active {
  background-color: #d1fae5;
  color: #047857;
}

.status.onboarding {
  background-color: #fef3c7;
  color: #92400e;
}

.status.inactive {
  background-color: #e5e7eb;
  color: #374151;
}

.card-body p {
  margin: 8px 0;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-footer button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9fafb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-btn {
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
}

.action-btn {
  background-color: #0ea5e9;
  color: rgb(20, 17, 17);
  border: none;
}

.card-footer button:hover {
  background-color: #e0f2fe;
}

.search-filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0 20px;
}

.search-box {
  flex: 1;
  max-width: 300px;
}

.filter-tabs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
