
__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

.env
.env.*
*.env

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

.idea/

.vscode/

