<h2 class="dialog-title">Add New Hospital</h2>
<form (ngSubmit)="submitForm()" #onboardForm="ngForm" class="onboard-form">
  <label>
    Hospital Name:
    <input type="text" name="name" [(ngModel)]="hospital.name" required />
  </label>

  <label>
    Email:
    <input type="email" name="email" [(ngModel)]="hospital.email" required />
  </label>

  <label>
    Address:
    <input type="text" name="address" [(ngModel)]="hospital.address" required />
  </label>

  <label>
    Contact Number:
    <input type="text" name="contact" [(ngModel)]="hospital.contact" required />
  </label>

  <label>
    Status
    <select name="status" [(ngModel)]="hospital.status" required>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
      <option value="onboarding">Onboarding</option>
    </select>
  </label>

  <div class="form-actions">
    <button type="submit" class="primary-button" [disabled]="!onboardForm.valid">Submit</button>
    <button type="button" class="primary-button" (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
