.sidebar {
  width: 255px;
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e7eb;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.logo {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 8px 24px;
  height: 66px;
}

.brand-blue {
  color: #0ea5e9;
}

.brand-black {
  margin-left: 5px;
  color: black;
}

.sidebar-navigation{
  padding-top: 8px;
}

.menu-section {
  flex-direction: row;
  padding: 8px;
  border-top: solid #e5e7eb;
  border-top-width: 1px;
  padding: 16px 8px;
}

.menu-title {
  font-size: 12px;
  color: #6b7280;
  padding-left: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #374151; /* gray-700 */
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #e0f2fe; /* light blue hover */
}

.menu-icon {
  width: 20px;
  height: 20px;
}


.footer {
  margin-top: auto;
  padding: 24px;
  text-align: left;
  font-size: 0.9rem;
  color: #6b7280;
  
  border-top: solid #e5e7eb;
  border-top-width: 1px;
}

.logged-in-user {
  color: black;
  font-weight: 600;
}
