<div class="layout">
  <div class="sidebar">
    <div class="logo">
      <span class="brand-blue">MediC </span> <span class="brand-black">shift</span>
    </div>
    <div class="sidebar-navigation">
      <div class="menu-section">
        <h4 class="menu-title">Main Menu</h4>
        <ul class="menu-list">
          <li class="menu-item" (click)="navigateTo('/dashboard')">
          <img class="menu-icon" src="../../../../assets/images/side-bar/dashboard-layout-svgrepo-com.svg" alt="Dashboard">
            <span>Dashboard</span>
          </li>
          <li class="menu-item" (click)="navigateTo('/hospitals')">
            <img class="menu-icon" src="../../../../assets/images/side-bar/list-svgrepo-com.svg" alt="Hospitals">
            <span>Hospitals</span>
          </li>
          <li class="menu-item" (click)="navigateTo('/users')">
            <img class="menu-icon" src="../../../../assets/images/side-bar/users-svgrepo-com.svg" alt="Users">
            <span>Users</span>
          </li>
        </ul>
      </div>
  
      <div class="menu-section">
        <h4 class="menu-title">Communication</h4>
        <ul class="menu-list">
          <li class="menu-item" (click)="navigateTo('/messages')">
            <!-- <img class="menu-icon" src="../../../../assets/images/side-bar/dashboard-layout-svgrepo-com.svg" alt="Dashboard"> -->
            <span>Messages</span>
          </li>
          <li class="menu-item" (click)="navigateTo('/notifications')">
            <!-- <img class="menu-icon" src="../../../../assets/images/side-bar/list-svgrepo-com.svg" alt="Hospitals"> -->
            <span>Notifications</span>
        </ul>
      </div>
  
      <div class="menu-section">
        <h4 class="menu-title">Tools</h4>
        <ul class="menu-list">
          <li class="menu-item" (click)="navigateTo('/settings')">
            <img class="menu-icon" src="../../../../assets/images/side-bar/settings-svgrepo-com.svg" alt="Settings">
            <span>Settings</span>
          </li>
        </ul>
      </div>
  
    </div>
  
    <div class="footer">
      <div class="logged-in-text">Logged in as</div>
      <div class="logged-in-user">Admin User</div>
    </div>
  </div>  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>